@model List<User>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<h2 class="text-center">Lista de Usuários</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }

            <div class="text-right">
                <a asp-action="NewUser" asp-controller="User" class="btn btn-secondary">Inserir Novo Usuário</a>
            </div>

            <div class="btn-group" style="margin-bottom: 10px; display: flex; justify-content: space-between;">
                <button onclick="exportToPDF()" class="btn btn-danger">Exportar para PDF</button>
                <button onclick="exportToWord()" class="btn btn-primary" style="margin-left: 10px; margin-right: 10px;">Exportar para Word</button>
                <button onclick="exportToExcel()" class="btn btn-success">Exportar para Excel</button>
            </div>

            <form id="deleteUsersForm">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Email</th>
                                <th>Situação</th>
                                <th>Data de Nascimento</th>
                                <th>Telefone</th>
                                <th>Data de Inclusão</th>
                                <th>Data de Alteração</th>
                                <th>Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.Credential.Login</td>
                                    <td>@user.Cpf</td>
                                    <td>@user.Email</td>
                                    <td>@user.Status</td>
                                    <td>@user.BirthDate</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>@user.InclusionDate</td>
                                    <td>@user.ChangeDate</td>
                                    <td>
                                        <input type="checkbox" name="userIds" value="@user.Id" />
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="EditUser" asp-controller="User" asp-route-id="@user.Id" data-user-id="@user.Id" class="btn btn-success edit-user-button">Editar</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button type="button" onclick="deleteSelectedUsers()" class="btn btn-danger">Excluir Selecionados</button>
            </form>
        </div>
    </div>
</div>

